
.ct {
    width: 2rem;
    
    margin-left: 500px;
    position: relative;
    
  }
  
  .searchbar {
    
    width: 25rem;
    height: 2px;
    
    border-radius: 10px;
    padding: 20px;
    background-color: #F1F1F1 ;
  }
  searchbar:hover {
    width: 25px;
    height: 6px;
  }
  .button {
    height: 30px;
    width: 20px;
    position: absolute;
    
  }
  
  
    
    
  
  
/**{
    box-shadow: 0 0 0 3px red inset;
} */
.body_about{
    background:rgb(246,248,248);
}
.expert{
    color: #1090CB;
}
   .container img{
    width: 50%;
    float: right;
   
   }
   
   .elipse{
    background: #08d3bb;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 18px;
    right: 315PX;
   }
   .container{
    display: flex;
    margin-top: 0px;
    
   }
   .homme-virtuel{
    transform: translateX(100px);
   }
    
.banner{
    background: rgba(16,144,203, 0.1);
    height: 700px;
}
    .co1{
        margin-top: -450PX;
    }
    .co2{
        margin-left: 1160px;
        margin-top: -400px;
    }
    .co3{
margin-top: -80PX;
    }
.UP{
    color: #1090CB;
}
.text button{
    width: 180px;
    font-size:1rem;
    padding: 12px 0;
    border-radius: 12px;
    border: 0;
    margin-left: 25px;
}
 .center{
        text-align: center;
    }

   /* .diarra{ 
    display: grid;
    grid-template-columns: 50% 50%; */
.happ{
    background-color: #08D3BB;
    border-radius: 50%;
}
.hap{
    background-color: #1090CB;
    border-radius: 50%;
}
.hap1{
    background-color: #9208D3;
    border-radius: 50%;
}

   .maria{
    display: grid;
    grid-template-columns: 50% 50%;
   }
   .A2{
display: grid;
grid-template-columns: 1FR 1FR 1FR 1FR;
   }
   
   .julie{

    display: grid;
    grid-template-columns: 50% 50%;

   }
   .bloc4{
    margin-left: 30px;
   }

   .julienne{
    display: grid;
    grid-template-columns: 50% 50%;
    
   }
   
   .bloc5{
 background: #F4F4F4;
    border-radius: 20px;
    margin-right: 10px;
   }
   .bloc6{
    background: #1090CB;
    border-radius: 20px;
    margin-left: 10PX;
   }
   .adjia{
    display: grid;
    grid-template-columns: 50% 50%;
   }
   .bloc7{
    
    background-color: hsl(192, 100%, 50%);
    width: 100%;
padding: 350PX;
    
   }
   .bouteuil{
    background: rgba(16,144,203, 0.1 ); 
    text-align: center;
    height: 500px;
    width: 100%;
   }
   .venti{
    padding-top: 130px;
   }
   .email{
    width: 500px;
    height: 67px;
    border-radius: 10px;
    border: none;
    color: rgba(81,81,81, 1);
    margin-top: 80px;
   }
   .suscribe{
    color: white;
    background: black;
    width: 173px;
    height: 67px;
    border-radius: 10px;
   }
   .adjia{
    margin: 10PX;
    padding: 100px;
   }
   .I1 {
    position: absolute;
    
    
    
    margin-top: 50px;
    
   }
   .I2 {
     
    margin-right: 25px;
    
     
   }
   .tonce{
    
    margin-top: 80px;
    justify-content: space-around;
   }
   .tel{
    margin-right: 30px;
   }
   .papa img{
    margin-left: 20px;
   }
   .hit{
    color: #1090CB;

   }
   .bonbon{
    margin: 30px;
   }
    
    .base{
        color: #1090CB;
    }
    
    .mere{
        background: white;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows:  50% ;
            
            
    }
    .mort{
        color: #1090CB;
    }
    .rame{
     background: white;
     border-radius: 50%;
    }
    .abi{
     padding-top: 50px ;
    }
    .D{
     
     position: absolute;
     margin-top: -150px;
     background: white;
     margin-left: 100px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
    }
    .banner1{
     background:   #5db7e11a;
    }
    
    .groupe2{
        margin-left: 30px;
    }
    .groupe3{
        margin-left: 30px;
    }
    .groupe4{
        margin-left: 30px;
    }
    .text1{
    
        display: flex;
   }
    
    .icon{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
    .dead{
        
        color: #1090CB;
    }
    .D1{
        color: white;
        margin-left: 100px;
    }
    .D4{
        margin-left: 150px;
        color: white;
    }
    .D3{
        margin-left: 100px;
        color: white;
    }
    .D2{
        margin-left: 130px;
        color: white;
    }
    .BI{
        background-color: #1090CB;
        padding: 100px;
    }
    .MAR{
        margin-left: 50px;
    }
.M2{
 margin-left: 25PX;
}
.M3{
    margin-left:25PX ;
}
.M4{
    margin-left: 25PX;
}

.S4{
    margin-left: 800PX;
    margin-top: 30px;
}
.S3{
    margin-left: 60PX;
}
.P2{
    margin-left: 40PX;
    margin-top: 80px;
}
.P3{
    margin-left:90PX ;
    margin-top: 80px;
}

.P4{
    margin-left: 70PX;
    margin-top: 200px;
}
.P1{
    margin-top: 80PX;
}
.IM2{
    margin-left: 10PX;
    width: 34PX;
    height: 34PX;
    border-radius: 50%;
  box-shadow:   1px 1px 2px #D2D2D2, 0 0 1em #D2D2D2, 0 0 0.2em #D2D2D2;
}
.IM1{
    width: 34PX;
    height: 34PX;
    border-radius: 50%;
    box-shadow:1px 1px 2px #D2D2D2, 0 0 1em #D2D2D2, 0 0 0.2em #D2D2D2;
}

.IM3{
    width: 34PX;
    height: 34PX;
    margin-left: 10PX;
    border-radius: 50%;
    box-shadow:1px 1px 2px #D2D2D2, 0 0 1em #D2D2D2, 0 0 0.2em #D2D2D2;
}
.IM4{
    border-radius: 50%;
    box-shadow:1px 1px 2px #D2D2D2, 0 0 1em #D2D2D2, 0 0 0.2em #D2D2D2;
    width: 34PX;
    height: 34PX;
    margin-left: 10PX;
}
.L{
color: #00329B;
}
.elipse1{
    background: #08d3bb;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 18px;
    right: 255PX;
   }
   .elipse2{
    background: #08d3bb;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 18px;
    right: 198PX;
   }
   .belle{
    margin-left: 1020px;
   }
.belle1{
    margin-left: 1020px;
}
.sucre{
    margin-left: 905px;
    margin-top:-220px;
}
.elipse3{
    background: #08d3bb;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 14px;
    right: 129PX;
   }
   .m{
    background-color:#F1F1F1;
   }
   .recherche{
    margin-left: 480px;
   
   }
   .m{
    left: 550px;
    border-radius: 10px;
    width: 250px;
    padding: 8px;
   }
   .KI{
    margin-left: 60PX;
   }
   .K1{
    border-radius: 25PX;
    margin-left: 30px;
    padding: 10PX;
    color: #1090CB;
background-color: #E7EFF3;
   }
.K2{
    border-radius: 25PX;
    padding: 10PX;
margin-left: 100PX;
background-color: #E7EFF3;
color: #1090CB;
}
.K3{
    border-radius: 25PX;
    padding: 10PX;
    margin-left: 100PX;
background-color: #E7EFF3;
color: #1090CB;
}
.K4{
    border-radius: 25PX;
    padding: 10PX;
    margin-left: 100PX;
    background-color: #E7EFF3;
    color: #1090CB;
}
.K5{
    border-radius: 25PX;
    padding: 10PX;
    margin-left: 100PX;
    background-color:#1090CB;
    color:white;
}
.ibou{
    margin-left: 15px;
}
.babacar{
    margin-left: 50px;
}
.R{
    margin-left:150PX;
    color: #1090CB;
}
.rec{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin: 40px;

}
.nav a {
    text-decoration : none;

color: white;
cursor: pointer;

border: none;
    
    background-color: #1090CB;
    border-radius: 15px;
    
  }
  .femme{
    margin: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
  }
  .chignon{
    background-color: #F5F3DA;
    border-radius: 50%;
  }
.C1{
    border-radius: 50%;
    box-shadow:1px 1px 2px #D2D2D2, 0 0 1em #D2D2D2, 0 0 0.2em #D2D2D2;
width: 12PX;
height: 12PX;
}
.C2{
    border-radius: 50%;
    box-shadow:1px 1px 2px #D2D2D2, 0 0 1em #D2D2D2, 0 0 0.2em #D2D2D2;
    margin-left: 20PX;   
    width: 12PX;
    height: 12PX;
}

.C3{
    border-radius: 50%;
    box-shadow:1px 1px 2px #D2D2D2, 0 0 1em #D2D2D2, 0 0 0.2em #D2D2D2;
    margin-left: 20PX;
    width: 12PX;
    height: 12PX;
    
}

.C4{
    border-radius: 50%;
    box-shadow:1px 1px 2px #D2D2D2, 0 0 1em #D2D2D2, 0 0 0.2em #D2D2D2;
    margin-left: 20PX;
    width: 12PX;
    height: 12PX;
}
.C5{
width: 30PX;
height: 30PX;
margin-right: 25px;
}
.C6{
    margin-right: 25px;
width: 18.9px;
height: 27.19PX;
}
.PORT{
    display: grid;
    grid-template-columns: 1FR 1FR 1FR;
    margin: 80PX;
}
.T1{

margin-left: 80px;
}
.T2{
    margin-left: 90PX;
}
.T3{
    margin-left: 60PX;
}
.Pq{
    margin-left: 20px;
    margin-top: -40PX;
    
}
.demba{
    margin: 70px;
}
.bag{
    background-color: #E8F4FA;
}
.bagu{
    padding:70px;
}
.E{
    margin: 50px;
    margin-left: 75px;
}
.nom{
    margin: 50px;
}
.di2{
    margin-left:60PX;
width: 700PX;
}
.di{
    width: 700px;
    margin-left: 30px;
}
.tasse{
    margin: 40px;
}
.chiase{
    justify-content: space-around;
}
.but{
    margin-top: -60px;
    margin-left: 880px;
    background-color: #1090CB;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1.3);
}
.F11{
background-color:#FFF2F2 ;

}
.F22{
background-color: #F1E8FF;
}

.F33{
background-color: #FFE7FB;

}
.F44{
background-color: #E2F3FF;

}
.e1{
background-color: #F1E8FF;
border-radius: 20px;
}
.e2{
background-color: #FFF2F2;
border-radius: 8px;
}
.e3{
    border-radius: 20px;
background-color: #E2F3FF;
}
.e4{
    border-radius: 10px;
background-color: #FFE7FB;
}